<!-- Modal -->
<div id="buyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">One more step...</h3>
  </div>
  <div class="modal-body">
    <p>Super!  We're excited to get started.  Please enter your email address and we'll contact you shortly.</p>
  </div>
  <div class="modal-footer">

    <form class="form-inline">
        <input type="text" placeholder="dan@example.com">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>