<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Discover</li>
      <li><a href="/segmentation">Customer Segmentation</a></li>
      <li><a href="competition">Competitive Analysis</a></li>
      <li><a href="/usability">Usability Testing</a></li>
      <li><a href="/growth">Growth Channels</a></li>
      <li class="nav-header">Optimize</li>
      <li><a href="/conversion">Conversion Funnels</a></li>
      <li><a href="/product_usage">Product Usage</a></li>
      <li><a href="/churn_upsell">Churn/Upsell Prediction</a></li>
      <li><a href="/pricing">Pricing</a></li>
      <li class="nav-header">Validate</li>
      <li><a href="/market_sizing">Market Size</a></li>
      <li><a href="/business_model">Business Model</a></li>
      <li><a href="/tracking">Tracking Infrastructure</a></li>
      <li><a href="/kpis">Key Business Metrics</a></li>
      <li class="nav-header">Execute</li>
      <li><a href="/behavior_engineering">Customer Behavior Engineering</a></li>
      <li><a href="/product_design">Product Design</a></li>
      <li><a href="/growth_plan">Growth Plan</a></li>
      <li><a href="/learn">Learn Skills</a></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->